<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
                                    <form action="/admin/products/" method="post">
                                        <div class="form-group">
                                            <label for="id">Id</label>
                                            <input id="id" type="text" name="id" >
                                        </div>
                                         <div class="form-group">
                                            <label  for="name">Name</label>
                                            <input id="name" type="text" name="name" >
                                        </div>
                                         <div class="form-group">
                                            <label for="shortDescription">shortDescription</label>
                                            <input id="shortDescription" type="text" name="shortDescription" >
                                        </div>
                                        <div class="form-group">
                                            <label for="salePrice">salePrice</label>
                                            <input id="salePrice" type="text" name="salePrice" >
                                        </div>
                                        <div class="form-group">
                                            <label for="originalPrice">originalPrice</label>
                                            <input id="originalPrice" type="text" name="originalPrice">
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit Button</button>
                                    </form>
</body>

</html>
